.nav-bar {
  color: white;
  border: pink solid 6px;
  width: 100%;
  margin: auto;

  background-color: black;

  display: flex;
  flex-direction: row;
}
.text-container {
  width: 90%;
  margin: 1.2rem auto;

  display: flex;
  flex-direction: column;
  text-align: center;
}
.text {
  color: white;
  font-size: 1.3em;
  margin-top: 1.2rem;
}
.logout-container {
  font-size: 2em;
  width: 10%;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 500px) {
  .text {
    font-size: 5vw;
  }
  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logout-container {
    font-size: 4vw;
    display: flex;
    justify-content: center;
  }
}
